#lbg {
    -fx-background-image: url("lbbg.png"); 
}


#pbg{
    -fx-background-image: url("pattern.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto; 
}


.jfx-scroll-pane * {
    -fx-background-color:  transparent;
}

.jfx-list-cell:selected {
    -fx-background-color: #B6D130;
}

.jfx-list-cell {
    -fx-background-color: wheat;
}

.jfx-list-cell:hover {
    -fx-background-color: #1BD79C;
}

.jfx-list-view {
    -fx-background-radius: 10;
    -fx-vertical-gap: 10;
    -fx-cell-vertical-margin: 2;
    -fx-background-insets: 0;
    -fx-pref-width: 124;
}

.jfx-list-view .virtual-flow .scroll-bar:vertical {    
    -fx-background-color: transparent;
    visibility: hidden; 
}

.jfx-list-view .virtual-flow .scroll-bar:horizontal {     
    -fx-background-color: transparent;
    visibility: hidden;
}

.jfx-list-view .virtual-flow .scroll-bar:vertical .increment-button {    
    -fx-background-color: transparent;
    visibility: hidden; 
}

.jfx-list-view .virtual-flow .scroll-bar:vertical .increment-button .increment-arrow {    
    -fx-background-color: transparent;
    visibility: hidden; 
}

.jfx-list-view .virtual-flow * {    
    -fx-background-color: transparent;
    visibility: hidden; 
}
